In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [2]:
df_path = 'D:\\数学建模\\数模第四次作业\\A题-附件\\附件2 慢性病及相关因素流调数据.xlsx'

In [3]:
data = pd.read_excel(df_path, header=1)

In [4]:
data = data.dropna(how='all')

In [5]:
data['出生年'] = 2023 - data['出生年']
data = data.rename(columns={'出生年':'年龄'})

In [6]:
data.insert(data.shape[1], '吸烟', 0)
data

,ID,年龄,性别,民族,Unnamed: 4,文化程度,婚姻状况,职业,是否吸烟,开始吸烟年龄,...,收缩压,舒张压,脉搏,胆固醇,血糖,高密度脂蛋白,低密度脂蛋白,甘油三酯,尿酸,吸烟
0,10001.0,40.0,2.0,1.0,NaN,4.0,1.0,9.0,3.0,NaN,...,98.0,62.0,70.0,3.79,4.61,1.59,1.88,0.91,210.4,0
1,10002.0,29.0,2.0,1.0,NaN,3.0,1.0,13.0,3.0,NaN,...,104.0,70.0,80.0,4.24,4.59,1.59,2.17,0.81,270.6,0
2,10003.0,47.0,1.0,1.0,NaN,4.0,2.0,4.0,1.0,16.0,...,104.0,70.0,80.0,4.84,4.13,1.33,2.92,1.59,298.2,0
3,10004.0,39.0,1.0,1.0,NaN,5.0,2.0,12.0,3.0,NaN,...,126.0,82.0,72.0,5.20,4.68,0.92,3.60,1.84,327.9,0
4,10005.0,55.0,1.0,1.0,NaN,4.0,2.0,9.0,1.0,20.0,...,106.0,70.0,70.0,5.10,4.41,1.37,3.15,1.87,350.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7961,NaN,49.0,2.0,1.0,NaN,4.0,2.0,10.0,3.0,NaN,...,90.0,60.0,72.0,4.48,4.61,1.35,2.77,0.56,214.9,0
7962,NaN,78.0,2.0,1.0,NaN,2.0,2.0,10.0,3.0,NaN,...,148.0,60.0,81.0,5.74,5.20,1.24,3.91,0.83,209.8,0
7963,NaN,43.0,1.0,1.0,NaN,3.0,2.0,9.0,1.0,17.0,...,98.0,60.0,72.0,3.92,4.55,0.93,2.46,1.62,227.9,0
7964,NaN,58.0,2.0,1.0,NaN,3.0,2.0,10.0,3.0,NaN,...,108.0,68.0,64.0,4.40,4.54,1.33,2.69,0.64,230.2,0
7965,NaN,55.0,1.0,1.0,NaN,3.0,2.0,4.0,2.0,NaN,...,94.0,70.0,78.0,5.43,4.65,1.12,3.71,1.53,349.7,0

In [7]:
def replace(x):
    if x == 1:
        return "是" 
    elif x == 2: 
        return "已戒烟"
    else:
        return "否"
    
data['吸烟'] = data['是否吸烟'].map(replace)

In [8]:
def replace2(x):
    if x == 1:
        return "是"
    elif x == 2: 
        return "否"
    else:
        return "已戒酒"
data.insert(data.shape[1], '饮酒', 0)
data['饮酒'] = data['是否饮酒'].map(replace2)
data

,ID,年龄,性别,民族,Unnamed: 4,文化程度,婚姻状况,职业,是否吸烟,开始吸烟年龄,...,舒张压,脉搏,胆固醇,血糖,高密度脂蛋白,低密度脂蛋白,甘油三酯,尿酸,吸烟,饮酒
0,10001.0,40.0,2.0,1.0,NaN,4.0,1.0,9.0,3.0,NaN,...,62.0,70.0,3.79,4.61,1.59,1.88,0.91,210.4,否,否
1,10002.0,29.0,2.0,1.0,NaN,3.0,1.0,13.0,3.0,NaN,...,70.0,80.0,4.24,4.59,1.59,2.17,0.81,270.6,否,否
2,10003.0,47.0,1.0,1.0,NaN,4.0,2.0,4.0,1.0,16.0,...,70.0,80.0,4.84,4.13,1.33,2.92,1.59,298.2,是,否
3,10004.0,39.0,1.0,1.0,NaN,5.0,2.0,12.0,3.0,NaN,...,82.0,72.0,5.20,4.68,0.92,3.60,1.84,327.9,否,否
4,10005.0,55.0,1.0,1.0,NaN,4.0,2.0,9.0,1.0,20.0,...,70.0,70.0,5.10,4.41,1.37,3.15,1.87,350.9,是,否
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7961,NaN,49.0,2.0,1.0,NaN,4.0,2.0,10.0,3.0,NaN,...,60.0,72.0,4.48,4.61,1.35,2.77,0.56,214.9,否,否
7962,NaN,78.0,2.0,1.0,NaN,2.0,2.0,10.0,3.0,NaN,...,60.0,81.0,5.74,5.20,1.24,3.91,0.83,209.8,否,否
7963,NaN,43.0,1.0,1.0,NaN,3.0,2.0,9.0,1.0,17.0,...,60.0,72.0,3.92,4.55,0.93,2.46,1.62,227.9,是,否
7964,NaN,58.0,2.0,1.0,NaN,3.0,2.0,10.0,3.0,NaN,...,68.0,64.0,4.40,4.54,1.33,2.69,0.64,230.2,否,否
7965,NaN,55.0,1.0,1.0,NaN,3.0,2.0,4.0,2.0,NaN,...,70.0,78.0,5.43,4.65,1.12,3.71,1.53,349.7,已戒烟,否

In [9]:
data.reset_index()
data['ID'] = range(1, len(data) + 1)

In [10]:
data.columns

Index(['ID', '年龄', '性别', '民族', 'Unnamed: 4', '文化程度', '婚姻状况', '职业', '是否吸烟',
       '开始吸烟年龄',
       ...
       '舒张压', '脉搏', '胆固醇', '血糖', '高密度脂蛋白', '低密度脂蛋白', '甘油三酯', '尿酸', '吸烟', '饮酒'],
      dtype='object', length=236)

In [11]:
data['职业'].fillna(value=0, inplace=True)

In [12]:
data

,ID,年龄,性别,民族,Unnamed: 4,文化程度,婚姻状况,职业,是否吸烟,开始吸烟年龄,...,舒张压,脉搏,胆固醇,血糖,高密度脂蛋白,低密度脂蛋白,甘油三酯,尿酸,吸烟,饮酒
0,1,40.0,2.0,1.0,NaN,4.0,1.0,9.0,3.0,NaN,...,62.0,70.0,3.79,4.61,1.59,1.88,0.91,210.4,否,否
1,2,29.0,2.0,1.0,NaN,3.0,1.0,13.0,3.0,NaN,...,70.0,80.0,4.24,4.59,1.59,2.17,0.81,270.6,否,否
2,3,47.0,1.0,1.0,NaN,4.0,2.0,4.0,1.0,16.0,...,70.0,80.0,4.84,4.13,1.33,2.92,1.59,298.2,是,否
3,4,39.0,1.0,1.0,NaN,5.0,2.0,12.0,3.0,NaN,...,82.0,72.0,5.20,4.68,0.92,3.60,1.84,327.9,否,否
4,5,55.0,1.0,1.0,NaN,4.0,2.0,9.0,1.0,20.0,...,70.0,70.0,5.10,4.41,1.37,3.15,1.87,350.9,是,否
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7961,7832,49.0,2.0,1.0,NaN,4.0,2.0,10.0,3.0,NaN,...,60.0,72.0,4.48,4.61,1.35,2.77,0.56,214.9,否,否
7962,7833,78.0,2.0,1.0,NaN,2.0,2.0,10.0,3.0,NaN,...,60.0,81.0,5.74,5.20,1.24,3.91,0.83,209.8,否,否
7963,7834,43.0,1.0,1.0,NaN,3.0,2.0,9.0,1.0,17.0,...,60.0,72.0,3.92,4.55,0.93,2.46,1.62,227.9,是,否
7964,7835,58.0,2.0,1.0,NaN,3.0,2.0,10.0,3.0,NaN,...,68.0,64.0,4.40,4.54,1.33,2.69,0.64,230.2,否,否
7965,7836,55.0,1.0,1.0,NaN,3.0,2.0,4.0,2.0,NaN,...,70.0,78.0,5.43,4.65,1.12,3.71,1.53,349.7,已戒烟,否

In [13]:
def replaceJob(x):
    jobs = ['其他','工人','农民','军人','行政干部','科技人员','医护人员', '教师',
            '金融财务','商业服务人员','家庭妇女','离、退休人员','待业','学生']
    return jobs[int(x)]

data['职业'] = data['职业'].map(replaceJob)

In [14]:
data[data['职业'] == '离、退休人员']['年龄']

16      76.0
30      77.0
33      81.0
34      73.0
35      79.0
        ...
7605    70.0
7635    81.0
7662    78.0
7670    66.0
7864    83.0
Name: 年龄, Length: 651, dtype: float64

In [15]:
def replaceAge(x):
    if x in range(0, 7):
        return "婴幼儿"
    elif x in range(7, 13):
        return "少儿"
    elif x in range(13, 18):
        return "青少年"
    elif x in range(18, 46):
        return "青年"
    elif x in range(46, 70):
        return "中年"
    else:
        return "老年"

data.insert(data.shape[1],'年龄阶段',"")
data['年龄阶段'] = data['年龄'].map(replaceAge)

In [16]:
data['年龄阶段']

0       青年
1       青年
2       中年
3       青年
4       中年
        ..
7961    中年
7962    老年
7963    青年
7964    中年
7965    中年
Name: 年龄阶段, Length: 7836, dtype: object

In [17]:
def replaceSport(x):
    if x == 1:
        return "轻度"
    elif x == 2:
        return "中度"
    elif x == 3:
        return "重度"

data_JobHomeSport = pd.DataFrame(data, columns=['ID', '工作主要属于以下何种活动', '您做休闲、家务活动的强度', '体育锻炼的强度'])

In [18]:
# data_JobHomeSport.iloc[range(10)]
for column in data_JobHomeSport.columns:
    if column == 'ID':
        continue
    else:
        data_JobHomeSport[column] = data_JobHomeSport[column].map(replaceSport)

In [19]:
for column in data_JobHomeSport.columns:
    if column == 'ID':
        continue
    else:
        temp = pd.DataFrame(data_JobHomeSport, columns=['ID', column])
        temp = temp.dropna()
        temp.to_excel(f'D:\\数学建模\\数模第四次作业\\A题-附件\\{column}.xlsx')

In [20]:
data_doSports = pd.DataFrame(data, columns=['ID', '是否参加体育锻炼', '平均每天体育锻炼时间'])
data_doSports.insert(data_doSports.shape[1],'每周锻炼时间', 0)
def caculateSportTime(x):
    days = x['是否参加体育锻炼']
    avg_time = x['平均每天体育锻炼时间']
    if days == 1:
        return 0
    elif days == 2:
        return 1.5 * avg_time
    elif days == 3:
        return 4 * avg_time
    elif days == 4:
        return 5.5 * avg_time
    else:
        return 0
    
data_doSports['每周锻炼时间'] = data_doSports.apply(caculateSportTime, axis=1)

In [21]:
data_doSports = data_doSports.drop(columns=[ '是否参加体育锻炼', '平均每天体育锻炼时间'])
data_doSports.to_excel('D:\\数学建模\\数模第四次作业\\A题-附件\\平均每周体育锻炼时间.xlsx')

In [29]:
data['不吃早餐'].fillna(0, inplace=True)

In [32]:
def replaceBreakfast(x):
    if x == 0:
        return "每天吃早餐"
    elif x in range(1, 3):
        return "偶尔不吃早餐"
    elif x in range(3, 6):
        return "经常不吃早餐"
    else:
        return "几乎或从不吃早餐"

data['不吃早餐'] = data['不吃早餐'].map(replaceBreakfast)

,ID,年龄,性别,民族,Unnamed: 4,文化程度,婚姻状况,职业,是否吸烟,开始吸烟年龄,...,脉搏,胆固醇,血糖,高密度脂蛋白,低密度脂蛋白,甘油三酯,尿酸,吸烟,饮酒,年龄阶段
0,1,40.0,2.0,1.0,NaN,4.0,1.0,商业服务人员,3.0,NaN,...,70.0,3.79,4.61,1.59,1.88,0.91,210.4,否,否,青年
1,2,29.0,2.0,1.0,NaN,3.0,1.0,学生,3.0,NaN,...,80.0,4.24,4.59,1.59,2.17,0.81,270.6,否,否,青年
2,3,47.0,1.0,1.0,NaN,4.0,2.0,行政干部,1.0,16.0,...,80.0,4.84,4.13,1.33,2.92,1.59,298.2,是,否,中年
3,4,39.0,1.0,1.0,NaN,5.0,2.0,待业,3.0,NaN,...,72.0,5.20,4.68,0.92,3.60,1.84,327.9,否,否,青年
4,5,55.0,1.0,1.0,NaN,4.0,2.0,商业服务人员,1.0,20.0,...,70.0,5.10,4.41,1.37,3.15,1.87,350.9,是,否,中年
5,6,54.0,1.0,1.0,NaN,4.0,2.0,商业服务人员,3.0,NaN,...,66.0,4.67,4.76,1.38,2.85,0.42,360.3,否,否,中年
6,7,53.0,2.0,1.0,NaN,3.0,2.0,家庭妇女,3.0,NaN,...,74.0,4.72,5.17,1.28,3.08,0.40,212.8,否,否,中年
7,8,47.0,2.0,1.0,NaN,4.0,2.0,家庭妇女,3.0,NaN,...,62.0,5.23,4.35,1.70,3.01,1.04,226.9,否,否,中年
8,9,61.0,1.0,1.0,NaN,4.0,2.0,待业,3.0,NaN,...,72.0,4.80,4.86,1.39,2.97,0.74,412.3,否,否,中年
9,10,45.0,2.0,1.0,NaN,2.0,2.0,家庭妇女,3.0,NaN,...,84.0,5.32,4.57,1.60,3.23,0.87,280.7,否,否,青年

In [37]:
data = data.rename(columns={'不吃早餐':'早餐'})
# data_Breakfast = data['ID', '早餐']
data['早餐'].iloc[:10]

0       每天吃早餐
1       每天吃早餐
2      经常不吃早餐
3       每天吃早餐
4       每天吃早餐
5       每天吃早餐
6       每天吃早餐
7    几乎或从不吃早餐
8       每天吃早餐
9       每天吃早餐
Name: 早餐, dtype: object

In [40]:
data[['ID','早餐']].to_excel('D:\\数学建模\\数模第四次作业\\A题-附件\\早餐情况.xlsx')

In [69]:
data_JobHomeSport.to_excel('D:\\数学建模\\数模第四次作业\\A题-附件\\运动强度.xlsx')

In [57]:
data['年龄阶段'].to_excel('D:\\数学建模\\数模第四次作业\\A题-附件\\年龄阶段.xlsx')

In [41]:
data.to_excel('D:\\数学建模\\数模第四次作业\\A题-附件\\pre_data.xlsx')